# demo and debug folders
myTests/*
__pycache__/
FoxDot/lib/debug/*
FoxDot/data/*
FoxDot/lib/Settings/conf.py
FoxDot/lib/Extensions/VRender/tmp/*
build/*
dist/*
FoxDot/snd/_loop_/*
FoxDot/osc/scsyndef/test.scd
FoxDot/lib/GhostCoder/*
FoxDot/lib/Settings/conf.txt
FoxDot/lib/Workspace/tmp/tempfile.txt
changed_files.txt

# To-do list


TODO.txt




autodoc.py

snd/mkdir.py



# PIP Registration file


.pypirc


# Directory created by pip install -e


/*.egg-info



# Compiled Python file


*.pyc

# Sphinx build dir
docs/_build/

*.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# swp files
*.swp
